.top_div{
    width:100%;
    height:5rem;
    background-color: black;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ndiv{
    width:100%;
    height:5rem;
    background-color: deepskyblue;
    text-align: center;
    display:flex;
    justify-content: center;
    align-items: center;
}

body{
    margin:0rem;
    padding:0rem;
}
.canv{
    width: 30rem;
    height: 30rem;
    background-color: white;
    border-color: black;
    border-style: solid;
}
#trapezoid {
    border-bottom: 50px solid transparent;
    border-left: 50px solid red;
    border-right: 50px solid red;
    border-top: 100px solid red;
    height: 0;
    width: 100px;
}
#trapezoidd{
    width: 100%;
    height: 38rem;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* #trapezoidd1{
    width: 50%;
    height: 4rem;
    background-color: white;
    display: flex;
    justify-content: right;
    align-items: flex-start ;
    padding-right: 1rem;
}
#trapezoidd2{
    width: 50%;
    height: 4rem;
    background-color: white;
    display: flex;
    justify-content: left;
    align-items: flex-start;
    padding-left: 1rem;
} */
.button {
    transition-duration: 0.4s;
    background-color: white;
    border: 2px solid chartreuse;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 0.5rem;
}

.button:hover {
    background-color: chartreuse;
    color: white;
}
.slantedDiv {
    position: relative;
    width: 100%;
    height: 30%;
    background: yellow;
    color: #222;
    font-size: 20px;
    justify-content: center;
    display: flex;
    align-items: center;
}
.slantedDiv:after{
    position:absolute;
    width:100%;
    height:100%;
    background:inherit;
    transform-origin:top right;
    transform:skewY(-5deg);
    z-index:-1;
    content:'';
    top:0;
    left:0;
    right:0;
    bottom:0;
}
.slantedDiv1 {
    position: relative;
    width: 100%;
    height: 30%;
    background: red;
    color: #222;
    font-size: 20px;
    justify-content: center;
    display: flex;
    align-items: center;
}
.slantedDiv1:after{
    position:absolute;
    width:100%;
    height:100%;
    background:inherit;
    transform-origin:top left;
    transform:skewY(-5deg);
    z-index:-1;
    content:'';
    top:0;
    left:0;
    right:0;
    bottom:0;
}
