<html lang="en">

<head>
    <title>Digit Recognition Real Time</title>
    <script src="/static/jquery.min.js"></script>
    <!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css')}}"> -->
    <link rel="stylesheet" type="text/css" href="/static/main.css">
</head>

<body>
    <div class="top_div">
        <p style="color:white;font-size: x-large">Digit Recognition</p>
    </div>
    <div class="ndiv">
        <p style="color: white;font-size: x-large">This is a Digit Recognition project. Draw any digit between 0 to 9 to
            recognize it.</p>
    </div>
    <div id="trapezoidd">
        <div id="paint" class="canv">
            <canvas id="myCanvas"></canvas>
            <script>
                var canvas = document.getElementById('myCanvas');
                var ctx = canvas.getContext('2d');

                var painting = document.getElementById('paint');
                var paint_style = getComputedStyle(painting);
                canvas.width = parseInt(paint_style.getPropertyValue('width'));
                canvas.height = parseInt(paint_style.getPropertyValue('height'));

                var mouse = { x: 0, y: 0 };

                canvas.addEventListener('mousemove', function (e) {
                    mouse.x = e.pageX - this.offsetLeft;
                    mouse.y = e.pageY - this.offsetTop;
                }, false);

                ctx.lineWidth = 10;
                ctx.lineJoin = 'round';
                ctx.lineCap = 'round';
                ctx.strokeStyle = 'white';
                ctx.fillStyle = 'black';
                ctx.fillRect(0, 0, ctx.canvas.width, ctx.canvas.height);

                function setRec() {
                    ctx.fillStyle = 'black';
                    ctx.fillRect(0, 0, ctx.canvas.width, ctx.canvas.height);
                }

                canvas.addEventListener('mousedown', function (e) {
                    ctx.beginPath();
                    ctx.moveTo(mouse.x, mouse.y);

                    canvas.addEventListener('mousemove', onPaint, false);
                }, false);

                canvas.addEventListener('mouseup', function () {
                    canvas.removeEventListener('mousemove', onPaint, false);
                }, false);

                function clearArea() {
                    // Use the identity matrix while clearing the canvas
                    ctx.setTransform(1, 0, 0, 1, 0, 0);
                    ctx.clearRect(0, 0, ctx.canvas.width, ctx.canvas.height);
                    setRec();
                    digit.innerHTML=''
                    accuracy.innerHTML=''
                }

                function save_image() {
                    console.log(canvas.toDataURL());
                    const link = document.createElement('a');
                    // link.download = 'digit_image.png';
                    // link.href = canvas.toDataURL();
                    var image = canvas.toDataURL();
                    // link.click();
                    // link.delete;
                    clearArea();
                    $.ajax({
                        type: "POST",
                        url: "/predict",
                        data: {
                            imageBase64: image
                        }
                    }).done(function (result) {
                        console.log("sent")
                        console.log(result)
                        digit.innerHTML=result.digit
                        accuracy.innerHTML=result.accuracy
                    });
                }

                var onPaint = function () {
                    ctx.lineTo(mouse.x, mouse.y);
                    ctx.stroke();
                };
            </script>
        </div>
    </div>
    <div style="display: flex">
        <div id="trapezoidd1">
            <button class="button" onclick="javascript:clearArea();return false;">Clear</button>
        </div>
        <div id="trapezoidd2"><button class="button" onclick="javascript:save_image();return false;">Submit</button>
        </div>
    </div>
    <!--<div id="trapezoid"></div>-->
    <div class="slantedDiv">
        <p>The digit is: <span id="digit"></span></p>
    </div><br><br><br><br><br><br><br><br><br><br><br>
    <div class="slantedDiv1">
        <p style="color: white">The accuracy is: <span id="accuracy"></span></p>
    </div>
</body>

</html>